<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= "#{data.site.title.downcase}
  #{current_page.data.title ? " |" : ""} #{current_page.data.title}" %></title>
  <%= stylesheet_link_tag "site" %>
  <%= favicon_tag 'images/favicon.ico' %>
  <link rel="apple-touch-icon" href="/images/icon-medium.png">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400" rel="stylesheet">
</head>
