.tiles {
  margin: -$spacing-unit;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@include media-query($on-palm) {
  .tiles {
    margin: $l-spacing-unit * -1;
  }
}

.tag-list {
  margin: -$s-spacing-unit;
}

.tag-list__item {
  margin: $s-spacing-unit;
  list-style: none;
  flex: 1 1 auto;
}

.tag__item {
  padding: $s-spacing-unit;
  text-align: center;
}

.tag {
  > * {
    display: block;
  }
}

.tag--small {
  font-size: $small-font-size;
}

.tag--medium {
  font-size: $code-font-size;
}

.tag--large {
  font-size: $base-font-size;
}

.tag--x-large {
  font-size: $plus-font-size;
}

.calendar-sheet {
  flex: 1 0 auto;
  padding: $s-spacing-unit;
  margin: $spacing-unit;
  text-align: center;
}

.calendar-wrapper {
  max-width: 240px;
  min-width: 200px;
  margin: auto;
}

.calendar {
  display: table;
  width: 100%;
}

.calendar__header {
  display: table-header-group;
}

.calendar__body {
  display: table-row-group;
}

.calendar__week {
  display: table-row;
}

.calendar__day {
  display: table-cell;
}

.calendar__link, {
  font-weight: 400;
}

.two-col {
  @extend %clearfix;
}

.jumps {
  width: calc(50% - #{$spacing-unit} / 2);
  float: right;

  &:first-child {
    float: left;
  }
}

.jump-list {
  list-style: none;
}

.navigation__header {
  margin-bottom: $spacing-unit;
  display: block;
  position: relative;

  > a {
    position: absolute;
    right: 0;
    bottom: 10px;
  }
}

.navigation__title {
  display: inline-block;
  font-weight: $med-font-weight;
  font-size: $xl-font-size;
}
